:host .article-item {
  margin-bottom: 20px;
  border-bottom: 1px dashed #ccc; }

:host .article-item .article-header .article-tag-list {
  display: inline-block;
  padding-left: 5px; }

:host .article-item .article-header .article-tag-list .article-tag-list-item:not(:last-child) {
  margin-right: 5px; }

:host .article-item .article-entry {
  margin-top: 1.5em; }

:host .article-item .mono,
:host .article-item pre,
:host .article-item code,
:host .article-item tt,
:host .article-item p code,
:host .article-item li code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace; }

:host .article-item p,
:host .article-item blockquote,
:host .article-item ul,
:host .article-item ol {
  margin-bottom: 1.5em; }

:host .article-item strong {
  font-weight: bold; }

:host .article-item em {
  font-style: italic; }

:host .article-item sup,
:host .article-item sub {
  font-size: 0.8em;
  position: relative;
  display: inline-block; }

:host .article-item sup {
  top: -0.5em; }

:host .article-item sub {
  bottom: -0.5em; }

:host .article-item q {
  font-style: italic; }

:host .article-item q:before {
  content: "\201C"; }

:host .article-item q:after {
  content: "\201D"; }

:host .article-item em,
:host .article-item dfn {
  font-style: italic; }

:host .article-item strong,
:host .article-item dfn {
  font-weight: bold; }

:host .article-item del,
:host .article-item s {
  text-decoration: line-through; }

:host .article-item abbr,
:host .article-item acronym {
  border-bottom: 1px dotted;
  cursor: help; }

:host .article-item sub,
:host .article-item sup {
  line-height: 0; }

:host .article-item hr {
  margin-bottom: 0.2em; }

:host .article-item small {
  font-size: .8em; }

:host .article-item big {
  font-size: 1.2em; }

:host .article-item blockquote {
  font-style: italic;
  position: relative;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid rgba(170, 170, 170, 0.5); }

:host .article-item blockquote cite {
  font-style: italic; }

:host .article-item blockquote cite a {
  color: #aaa !important;
  word-wrap: break-word; }

:host .article-item blockquote cite:before {
  content: '\2014';
  padding-right: .3em;
  padding-left: .3em;
  color: #aaa; }

@media only screen and (min-width: 992px) {
  :host .article-item blockquote {
    padding-left: 1.5em;
    border-left-width: 4px; } }

:host .article-item .pullquote-right:before,
:host .article-item .pullquote-left:before {
  padding: 0;
  border: none;
  content: attr(data-pullquote);
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em; }

:host .article-item .pullquote-left:before {
  float: left;
  margin: .5em 1.5em 1em 0; }

:host .article-item .force-wrap,
:host .article-item article a {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word; }

:host .article-item article {
  padding-top: 1em; }

:host .article-item article header {
  position: relative;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") bottom left repeat-x; }

:host .article-item article header h1 {
  margin: 0; }

:host .article-item article header h1 a {
  text-decoration: none; }

:host .article-item article header h1 a:hover {
  text-decoration: underline; }

:host .article-item article header p {
  font-size: .9em;
  color: #aaa;
  margin: 0; }

:host .article-item article header p.meta {
  text-transform: uppercase;
  position: absolute;
  top: 0; }

:host .article-item article h2 {
  padding-top: 0.8em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") top left repeat-x; }

:host .article-item .entry-content article h2:first-child,
:host .article-item article header + h2 {
  padding-top: 0; }

:host .article-item article h2:first-child,
:host .article-item article header + h2 {
  background: none; }

:host .article-item article .feature {
  padding-top: .5em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") bottom left repeat-x;
  font-size: 2.0em;
  font-style: italic;
  line-height: 1.3em; }

:host .article-item article img,
:host .article-item article video,
:host .article-item article .flash-video {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff 0.5em solid; }

:host .article-item article video,
:host .article-item article .flash-video {
  margin: 0 auto 1.5em; }

:host .article-item article video {
  display: block;
  width: 100%; }

:host .article-item article .flash-video > div {
  position: relative;
  display: block;
  padding-bottom: 56.25%;
  padding-top: 1px;
  height: 0;
  overflow: hidden; }

:host .article-item article .flash-video > div iframe,
:host .article-item article .flash-video > div object,
:host .article-item article .flash-video > div embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

:host .article-item article > footer {
  padding-bottom: 2.5em;
  margin-top: 2em; }

:host .article-item article > footer p.meta {
  margin-bottom: .8em;
  font-size: .85em;
  clear: both;
  overflow: hidden; }

:host .article-item .blog-index article + article {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") top left repeat-x; }

:host .article-item p.meta + .sharing {
  padding-top: 1em;
  padding-left: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") top left repeat-x; }

:host .article-item .highlight,
:host .article-item html .gist .gist-file .gist-syntax .gist-highlight {
  border: 1px solid #05232b !important; }

:host .article-item .highlight table td.code,
:host .article-item html .gist .gist-file .gist-syntax .gist-highlight table td.code {
  border: 0;
  width: 100%; }

:host .article-item .highlight .line-numbers,
:host .article-item html .gist .gist-file .gist-syntax .highlight .line_numbers {
  text-align: right;
  font-size: 13px;
  line-height: 1.45em;
  background: #073642;
  border-right: 1px solid #00232c !important;
  -webkit-box-shadow: #083e4b -1px 0 inset;
  -moz-box-shadow: #083e4b -1px 0 inset;
  box-shadow: #083e4b -1px 0 inset;
  text-shadow: #021014 0 -1px;
  padding: .8em !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

:host .article-item .highlight .line-numbers span,
:host .article-item html .gist .gist-file .gist-syntax .highlight .line_numbers span {
  color: #586e75 !important; }

:host .article-item figure.code,
:host .article-item .gist-file,
:host .article-item pre {
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px; }

:host .article-item figure.code .highlight pre,
:host .article-item .gist-file .highlight pre,
:host .article-item pre .highlight pre {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

:host .article-item .gist .highlight *::-moz-selection,
:host .article-item figure.code .highlight *::-moz-selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px; }

:host .article-item .gist .highlight *::-webkit-selection,
:host .article-item figure.code .highlight *::-webkit-selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px; }

:host .article-item .gist .highlight *::selection,
:host .article-item figure.code .highlight *::selection {
  background: #386774;
  color: inherit;
  text-shadow: #002b36 0 1px; }

:host .article-item html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  padding-top: 26px !important; }

:host .article-item html .gist .gist-file .highlight {
  margin-bottom: 0; }

:host .article-item html .gist .gist-file .gist-syntax {
  border-bottom: 0 !important;
  background: none !important; }

:host .article-item html .gist .gist-file .gist-syntax .gist-highlight {
  background: #002b36 !important; }

:host .article-item html .gist .gist-file .gist-syntax .highlight pre {
  padding: 0; }

:host .article-item html .gist .gist-file .gist-meta {
  padding: .6em 0.8em;
  border: 1px solid #083e4b !important;
  color: #586e75;
  font-size: .7em !important;
  background: #073642;
  line-height: 1.5em; }

:host .article-item html .gist .gist-file .gist-meta a {
  color: #75878b !important;
  text-decoration: none; }

:host .article-item html .gist .gist-file .gist-meta a:hover {
  text-decoration: underline; }

:host .article-item html .gist .gist-file .gist-meta a:hover {
  color: #93a1a1 !important; }

:host .article-item html .gist .gist-file .gist-meta a[href*='#file'] {
  position: absolute;
  top: 0;
  left: 0;
  right: -10px;
  color: #474747 !important; }

:host .article-item html .gist .gist-file .gist-meta a[href*='#file']:hover {
  color: #1863a1 !important; }

:host .article-item html .gist .gist-file .gist-meta a[href*=raw] {
  top: .4em; }

:host .article-item pre {
  background: #002b36;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 1px solid #05232b;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: #93a1a1;
  overflow: auto; }

:host .article-item h3.filename + pre {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px; }

:host .article-item p code,
:host .article-item li code {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 0; }

:host .article-item p pre code,
:host .article-item li pre code {
  font-size: 1em !important;
  background: none;
  border: none; }

:host .article-item .pre-code,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre,
:host .article-item .highlight code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em;
  overflow-x: auto;
  line-height: 1.45em;
  background: #002b36;
  color: #93a1a1 !important; }

:host .article-item .pre-code span,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre span,
:host .article-item .highlight code span {
  color: #93a1a1 !important; }

:host .article-item .pre-code span,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre span,
:host .article-item .highlight code span {
  font-style: normal !important;
  font-weight: normal !important; }

:host .article-item .pre-code .c,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .c,
:host .article-item .highlight code .c {
  color: #586e75 !important;
  font-style: italic !important; }

:host .article-item .pre-code .cm,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .cm,
:host .article-item .highlight code .cm {
  color: #586e75 !important;
  font-style: italic !important; }

:host .article-item .pre-code .cp,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .cp,
:host .article-item .highlight code .cp {
  color: #586e75 !important;
  font-style: italic !important; }

:host .article-item .pre-code .c1,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .c1,
:host .article-item .highlight code .c1 {
  color: #586e75 !important;
  font-style: italic !important; }

:host .article-item .pre-code .cs,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .cs,
:host .article-item .highlight code .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important; }

:host .article-item .pre-code .err,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .err,
:host .article-item .highlight code .err {
  color: #dc322f !important;
  background: none !important; }

:host .article-item .pre-code .k,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .k,
:host .article-item .highlight code .k {
  color: #cb4b16 !important; }

:host .article-item .pre-code .o,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .o,
:host .article-item .highlight code .o {
  color: #93a1a1 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .p,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .p,
:host .article-item .highlight code .p {
  color: #93a1a1 !important; }

:host .article-item .pre-code .ow,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .ow,
:host .article-item .highlight code .ow {
  color: #2aa198 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .gd,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gd,
:host .article-item .highlight code .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block; }

:host .article-item .pre-code .gd .x,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gd .x,
:host .article-item .highlight code .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block; }

:host .article-item .pre-code .ge,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .ge,
:host .article-item .highlight code .ge {
  color: #93a1a1 !important;
  font-style: italic !important; }

:host .article-item .pre-code .gh,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gh,
:host .article-item .highlight code .gh {
  color: #586e75 !important; }

:host .article-item .pre-code .gi,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gi,
:host .article-item .highlight code .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block; }

:host .article-item .pre-code .gi .x,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gi .x,
:host .article-item .highlight code .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block; }

:host .article-item .pre-code .gs,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gs,
:host .article-item .highlight code .gs {
  color: #93a1a1 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .gu,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gu,
:host .article-item .highlight code .gu {
  color: #6c71c4 !important; }

:host .article-item .pre-code .kc,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kc,
:host .article-item .highlight code .kc {
  color: #859900 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .kd,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kd,
:host .article-item .highlight code .kd {
  color: #268bd2 !important; }

:host .article-item .pre-code .kp,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kp,
:host .article-item .highlight code .kp {
  color: #cb4b16 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .kr,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kr,
:host .article-item .highlight code .kr {
  color: #d33682 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .kt,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kt,
:host .article-item .highlight code .kt {
  color: #2aa198 !important; }

:host .article-item .pre-code .n,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .n,
:host .article-item .highlight code .n {
  color: #268bd2 !important; }

:host .article-item .pre-code .na,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .na,
:host .article-item .highlight code .na {
  color: #268bd2 !important; }

:host .article-item .pre-code .nb,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nb,
:host .article-item .highlight code .nb {
  color: #859900 !important; }

:host .article-item .pre-code .nc,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nc,
:host .article-item .highlight code .nc {
  color: #d33682 !important; }

:host .article-item .pre-code .no,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .no,
:host .article-item .highlight code .no {
  color: #b58900 !important; }

:host .article-item .pre-code .nl,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nl,
:host .article-item .highlight code .nl {
  color: #859900 !important; }

:host .article-item .pre-code .ne,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .ne,
:host .article-item .highlight code .ne {
  color: #268bd2 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .nf,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nf,
:host .article-item .highlight code .nf {
  color: #268bd2 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .nn,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nn,
:host .article-item .highlight code .nn {
  color: #b58900 !important; }

:host .article-item .pre-code .nt,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nt,
:host .article-item .highlight code .nt {
  color: #268bd2 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .nx,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nx,
:host .article-item .highlight code .nx {
  color: #b58900 !important; }

:host .article-item .pre-code .vg,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .vg,
:host .article-item .highlight code .vg {
  color: #268bd2 !important; }

:host .article-item .pre-code .vi,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .vi,
:host .article-item .highlight code .vi {
  color: #268bd2 !important; }

:host .article-item .pre-code .nv,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nv,
:host .article-item .highlight code .nv {
  color: #268bd2 !important; }

:host .article-item .pre-code .mf,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .mf,
:host .article-item .highlight code .mf {
  color: #2aa198 !important; }

:host .article-item .pre-code .m,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .m,
:host .article-item .highlight code .m {
  color: #2aa198 !important; }

:host .article-item .pre-code .mh,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .mh,
:host .article-item .highlight code .mh {
  color: #2aa198 !important; }

:host .article-item .pre-code .mi,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .mi,
:host .article-item .highlight code .mi {
  color: #2aa198 !important; }

:host .article-item .pre-code .s,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .s,
:host .article-item .highlight code .s {
  color: #2aa198 !important; }

:host .article-item .pre-code .sd,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .sd,
:host .article-item .highlight code .sd {
  color: #2aa198 !important; }

:host .article-item .pre-code .s2,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .s2,
:host .article-item .highlight code .s2 {
  color: #2aa198 !important; }

:host .article-item .pre-code .se,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .se,
:host .article-item .highlight code .se {
  color: #dc322f !important; }

:host .article-item .pre-code .si,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .si,
:host .article-item .highlight code .si {
  color: #268bd2 !important; }

:host .article-item .pre-code .sr,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .sr,
:host .article-item .highlight code .sr {
  color: #2aa198 !important; }

:host .article-item .pre-code .s1,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .s1,
:host .article-item .highlight code .s1 {
  color: #2aa198 !important; }

:host .article-item .pre-code div .gd,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre div .gd,
:host .article-item .highlight code div .gd,
:host .article-item .pre-code div .gd .x,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre div .gd .x,
:host .article-item .highlight code div .gd .x,
:host .article-item .pre-code div .gi,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre div .gi,
:host .article-item .highlight code div .gi,
:host .article-item .pre-code div .gi .x,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre div .gi .x,
:host .article-item .highlight code div .gi .x {
  display: inline-block;
  width: 100%; }

:host .article-item .highlight,
:host .article-item .gist-highlight {
  margin-bottom: 1.8em;
  background: #002b36;
  overflow-y: hidden;
  overflow-x: auto; }

:host .article-item .highlight pre,
:host .article-item .gist-highlight pre {
  background: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: none;
  padding: 0;
  margin-bottom: 0; }

:host .article-item pre::-webkit-scrollbar,
:host .article-item .highlight::-webkit-scrollbar,
:host .article-item .gist-highlight::-webkit-scrollbar {
  height: .5em;
  background: rgba(255, 255, 255, 0.15); }

:host .article-item pre::-webkit-scrollbar-thumb:horizontal,
:host .article-item .highlight::-webkit-scrollbar-thumb:horizontal,
:host .article-item .gist-highlight::-webkit-scrollbar-thumb:horizontal {
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px; }

:host .article-item .highlight code {
  background: #000; }

:host .article-item figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em; }

:host .article-item figure.code pre {
  margin-bottom: 0; }

:host .article-item figure.code figcaption {
  position: relative; }

:host .article-item figure.code .highlight {
  margin-bottom: 0; }

:host .article-item .download-source,
:host .article-item html .gist .gist-file .gist-meta a[href*=raw],
:host .article-item figure.code figcaption a {
  position: absolute;
  right: .8em;
  text-decoration: none;
  color: #666 !important;
  z-index: 1;
  font-size: 13px;
  text-shadow: #cbcccc 0 1px 0;
  padding-left: 3em; }

:host .article-item .download-source:hover,
:host .article-item html .gist .gist-file .gist-meta a[href*=raw]:hover,
:host .article-item figure.code figcaption a:hover {
  text-decoration: underline; }

:host .article-item .mono,
:host .article-item pre,
:host .article-item code,
:host .article-item tt,
:host .article-item p code,
:host .article-item li code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace; }

:host .article-item p,
:host .article-item blockquote,
:host .article-item ul,
:host .article-item ol {
  margin-bottom: 1.5em; }

:host .article-item strong {
  font-weight: bold; }

:host .article-item em {
  font-style: italic; }

:host .article-item sup,
:host .article-item sub {
  font-size: 0.8em;
  position: relative;
  display: inline-block; }

:host .article-item sup {
  top: -0.5em; }

:host .article-item sub {
  bottom: -0.5em; }

:host .article-item q {
  font-style: italic; }

:host .article-item q:before {
  content: "\201C"; }

:host .article-item q:after {
  content: "\201D"; }

:host .article-item em,
:host .article-item dfn {
  font-style: italic; }

:host .article-item strong,
:host .article-item dfn {
  font-weight: bold; }

:host .article-item del,
:host .article-item s {
  text-decoration: line-through; }

:host .article-item abbr,
:host .article-item acronym {
  border-bottom: 1px dotted;
  cursor: help; }

:host .article-item sub,
:host .article-item sup {
  line-height: 0; }

:host .article-item hr {
  margin-bottom: 0.2em; }

:host .article-item small {
  font-size: .8em; }

:host .article-item big {
  font-size: 1.2em; }

:host .article-item blockquote {
  font-style: italic;
  position: relative;
  font-size: 1.2em;
  line-height: 1.5em;
  padding-left: 1em;
  border-left: 4px solid rgba(170, 170, 170, 0.5); }

:host .article-item blockquote cite {
  font-style: italic; }

:host .article-item blockquote cite a {
  color: #aaa !important;
  word-wrap: break-word; }

:host .article-item blockquote cite:before {
  content: '\2014';
  padding-right: .3em;
  padding-left: .3em;
  color: #aaa; }

@media only screen and (min-width: 992px) {
  :host .article-item blockquote {
    padding-left: 1.5em;
    border-left-width: 4px; } }

:host .article-item .pullquote-right:before,
:host .article-item .pullquote-left:before {
  padding: 0;
  border: none;
  content: attr(data-pullquote);
  float: right;
  width: 45%;
  margin: .5em 0 1em 1.5em;
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em; }

:host .article-item .pullquote-left:before {
  float: left;
  margin: .5em 1.5em 1em 0; }

:host .article-item .force-wrap,
:host .article-item article a {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word; }

:host .article-item article {
  padding-top: 1em; }

:host .article-item article header {
  position: relative;
  padding-top: 2em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") bottom left repeat-x; }

:host .article-item article header h1 {
  margin: 0; }

:host .article-item article header h1 a {
  text-decoration: none; }

:host .article-item article header h1 a:hover {
  text-decoration: underline; }

:host .article-item article header p {
  font-size: .9em;
  color: #aaa;
  margin: 0; }

:host .article-item article header p.meta {
  text-transform: uppercase;
  position: absolute;
  top: 0; }

:host .article-item article h2 {
  padding-top: 0.8em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") top left repeat-x; }

:host .article-item .entry-content article h2:first-child,
:host .article-item article header + h2 {
  padding-top: 0; }

:host .article-item article h2:first-child,
:host .article-item article header + h2 {
  background: none; }

:host .article-item article .feature {
  padding-top: .5em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") bottom left repeat-x;
  font-size: 2.0em;
  font-style: italic;
  line-height: 1.3em; }

:host .article-item article img,
:host .article-item article video,
:host .article-item article .flash-video {
  -webkit-border-radius: 0.3em;
  -moz-border-radius: 0.3em;
  -ms-border-radius: 0.3em;
  -o-border-radius: 0.3em;
  border-radius: 0.3em;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -moz-box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  box-shadow: rgba(0, 0, 0, 0.15) 0 1px 4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: #fff 0.5em solid; }

:host .article-item article video,
:host .article-item article .flash-video {
  margin: 0 auto 1.5em; }

:host .article-item article video {
  display: block;
  width: 100%; }

:host .article-item article .flash-video > div {
  position: relative;
  display: block;
  padding-bottom: 56.25%;
  padding-top: 1px;
  height: 0;
  overflow: hidden; }

:host .article-item article .flash-video > div iframe,
:host .article-item article .flash-video > div object,
:host .article-item article .flash-video > div embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

:host .article-item article > footer {
  padding-bottom: 2.5em;
  margin-top: 2em; }

:host .article-item article > footer p.meta {
  margin-bottom: .8em;
  font-size: .85em;
  clear: both;
  overflow: hidden; }

:host .article-item .blog-index article + article {
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") top left repeat-x; }

:host .article-item p.meta + .sharing {
  padding-top: 1em;
  padding-left: 0;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC") top left repeat-x; }

:host .article-item #fb-root {
  display: none; }

:host .article-item .highlight,
:host .article-item html .gist .gist-file .gist-syntax .gist-highlight {
  border: 1px solid #05232b !important; }

:host .article-item .highlight table td.code,
:host .article-item html .gist .gist-file .gist-syntax .gist-highlight table td.code {
  border: 0;
  width: 100%; }

:host .article-item .highlight .line-numbers,
:host .article-item html .gist .gist-file .gist-syntax .highlight .line_numbers {
  text-align: right;
  font-size: 13px;
  line-height: 1.45em;
  background: #073642;
  border-right: 1px solid #00232c !important;
  -webkit-box-shadow: #083e4b -1px 0 inset;
  -moz-box-shadow: #083e4b -1px 0 inset;
  box-shadow: #083e4b -1px 0 inset;
  text-shadow: #021014 0 -1px;
  padding: .8em !important;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0; }

:host .article-item .highlight .line-numbers span,
:host .article-item html .gist .gist-file .gist-syntax .highlight .line_numbers span {
  color: #586e75 !important; }

:host .article-item figure.code,
:host .article-item .gist-file,
:host .article-item pre {
  -webkit-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  -moz-box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px;
  box-shadow: rgba(0, 0, 0, 0.06) 0 0 10px; }

:host .article-item figure.code .highlight pre,
:host .article-item .gist-file .highlight pre,
:host .article-item pre .highlight pre {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

:host .article-item .gist .highlight *::-moz-selection,
:host .article-item figure.code .highlight *::-moz-selection {
  background: #386774;
  color: inherit;
  text-shadow: #2B2B2B 0 1px; }

:host .article-item .gist .highlight *::-webkit-selection,
:host .article-item figure.code .highlight *::-webkit-selection {
  background: #386774;
  color: inherit;
  text-shadow: #2B2B2B 0 1px; }

:host .article-item .gist .highlight *::selection,
:host .article-item figure.code .highlight *::selection {
  background: #386774;
  color: inherit;
  text-shadow: #2B2B2B 0 1px; }

:host .article-item html .gist .gist-file {
  margin-bottom: 1.8em;
  position: relative;
  border: none;
  padding-top: 26px !important; }

:host .article-item html .gist .gist-file .highlight {
  margin-bottom: 0; }

:host .article-item html .gist .gist-file .gist-syntax {
  border-bottom: 0 !important;
  background: none !important; }

:host .article-item html .gist .gist-file .gist-syntax .gist-highlight {
  background: #2B2B2B !important; }

:host .article-item html .gist .gist-file .gist-syntax .highlight pre {
  padding: 0; }

:host .article-item html .gist .gist-file .gist-meta {
  padding: .6em 0.8em;
  border: 1px solid #083e4b !important;
  color: #586e75;
  font-size: .7em !important;
  background: #073642;
  line-height: 1.5em; }

:host .article-item html .gist .gist-file .gist-meta a {
  color: #75878b !important;
  text-decoration: none; }

:host .article-item html .gist .gist-file .gist-meta a:hover {
  text-decoration: underline; }

:host .article-item html .gist .gist-file .gist-meta a:hover {
  color: #93a1a1 !important; }

:host .article-item html .gist .gist-file .gist-meta a[href*='#file'] {
  position: absolute;
  top: 0;
  left: 0;
  right: -10px;
  color: #474747 !important; }

:host .article-item html .gist .gist-file .gist-meta a[href*='#file']:hover {
  color: #1863a1 !important; }

:host .article-item html .gist .gist-file .gist-meta a[href*=raw] {
  top: .4em; }

:host .article-item pre {
  background: #2B2B2B;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  border: 1px solid #05232b;
  line-height: 1.45em;
  font-size: 13px;
  margin-bottom: 2.1em;
  padding: .8em 1em;
  color: #93a1a1;
  overflow: auto; }

:host .article-item h3.filename + pre {
  -moz-border-radius-topleft: 0px;
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px;
  -moz-border-radius-topright: 0px;
  -webkit-border-top-right-radius: 0px;
  border-top-right-radius: 0px; }

:host .article-item p code,
:host .article-item li code {
  display: inline-block;
  white-space: no-wrap;
  background: #fff;
  font-size: .8em;
  line-height: 1.5em;
  color: #555;
  border: 1px solid #ddd;
  -webkit-border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -ms-border-radius: 0.4em;
  -o-border-radius: 0.4em;
  border-radius: 0.4em;
  padding: 0 .3em;
  margin: -1px 0; }

:host .article-item p pre code,
:host .article-item li pre code {
  font-size: 1em !important;
  background: none;
  border: none; }

:host .article-item .pre-code,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre,
:host .article-item .highlight code {
  font-family: Menlo, Monaco, "Andale Mono", "lucida console", "Courier New", monospace !important;
  overflow: scroll;
  overflow-y: hidden;
  display: block;
  padding: .8em;
  overflow-x: auto;
  line-height: 1.45em;
  background: #2B2B2B;
  color: #93a1a1 !important; }

:host .article-item .pre-code span,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre span,
:host .article-item .highlight code span {
  color: #93a1a1 !important; }

:host .article-item .pre-code span,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre span,
:host .article-item .highlight code span {
  font-style: normal !important;
  font-weight: normal !important; }

:host .article-item .pre-code .c,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .c,
:host .article-item .highlight code .c {
  color: #586e75 !important;
  font-style: italic !important; }

:host .article-item .pre-code .cm,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .cm,
:host .article-item .highlight code .cm {
  color: #586e75 !important;
  font-style: italic !important; }

:host .article-item .pre-code .cp,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .cp,
:host .article-item .highlight code .cp {
  color: #586e75 !important;
  font-style: italic !important; }

:host .article-item .pre-code .c1,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .c1,
:host .article-item .highlight code .c1 {
  color: #586e75 !important;
  font-style: italic !important; }

:host .article-item .pre-code .cs,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .cs,
:host .article-item .highlight code .cs {
  color: #586e75 !important;
  font-weight: bold !important;
  font-style: italic !important; }

:host .article-item .pre-code .err,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .err,
:host .article-item .highlight code .err {
  color: #dc322f !important;
  background: none !important; }

:host .article-item .pre-code .k,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .k,
:host .article-item .highlight code .k {
  color: #cb4b16 !important; }

:host .article-item .pre-code .o,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .o,
:host .article-item .highlight code .o {
  color: #93a1a1 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .p,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .p,
:host .article-item .highlight code .p {
  color: #93a1a1 !important; }

:host .article-item .pre-code .ow,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .ow,
:host .article-item .highlight code .ow {
  color: #2aa198 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .gd,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gd,
:host .article-item .highlight code .gd {
  color: #93a1a1 !important;
  background-color: #372c34 !important;
  display: inline-block; }

:host .article-item .pre-code .gd .x,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gd .x,
:host .article-item .highlight code .gd .x {
  color: #93a1a1 !important;
  background-color: #4d2d33 !important;
  display: inline-block; }

:host .article-item .pre-code .ge,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .ge,
:host .article-item .highlight code .ge {
  color: #93a1a1 !important;
  font-style: italic !important; }

:host .article-item .pre-code .gh,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gh,
:host .article-item .highlight code .gh {
  color: #586e75 !important; }

:host .article-item .pre-code .gi,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gi,
:host .article-item .highlight code .gi {
  color: #93a1a1 !important;
  background-color: #1a412b !important;
  display: inline-block; }

:host .article-item .pre-code .gi .x,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gi .x,
:host .article-item .highlight code .gi .x {
  color: #93a1a1 !important;
  background-color: #355720 !important;
  display: inline-block; }

:host .article-item .pre-code .gs,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gs,
:host .article-item .highlight code .gs {
  color: #93a1a1 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .gu,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .gu,
:host .article-item .highlight code .gu {
  color: #6c71c4 !important; }

:host .article-item .pre-code .kc,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kc,
:host .article-item .highlight code .kc {
  color: #859900 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .kd,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kd,
:host .article-item .highlight code .kd {
  color: #268bd2 !important; }

:host .article-item .pre-code .kp,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kp,
:host .article-item .highlight code .kp {
  color: #cb4b16 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .kr,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kr,
:host .article-item .highlight code .kr {
  color: #d33682 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .kt,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .kt,
:host .article-item .highlight code .kt {
  color: #2aa198 !important; }

:host .article-item .pre-code .n,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .n,
:host .article-item .highlight code .n {
  color: #268bd2 !important; }

:host .article-item .pre-code .na,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .na,
:host .article-item .highlight code .na {
  color: #268bd2 !important; }

:host .article-item .pre-code .nb,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nb,
:host .article-item .highlight code .nb {
  color: #859900 !important; }

:host .article-item .pre-code .nc,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nc,
:host .article-item .highlight code .nc {
  color: #d33682 !important; }

:host .article-item .pre-code .no,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .no,
:host .article-item .highlight code .no {
  color: #b58900 !important; }

:host .article-item .pre-code .nl,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nl,
:host .article-item .highlight code .nl {
  color: #859900 !important; }

:host .article-item .pre-code .ne,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .ne,
:host .article-item .highlight code .ne {
  color: #268bd2 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .nf,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nf,
:host .article-item .highlight code .nf {
  color: #268bd2 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .nn,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nn,
:host .article-item .highlight code .nn {
  color: #b58900 !important; }

:host .article-item .pre-code .nt,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nt,
:host .article-item .highlight code .nt {
  color: #268bd2 !important;
  font-weight: bold !important; }

:host .article-item .pre-code .nx,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nx,
:host .article-item .highlight code .nx {
  color: #b58900 !important; }

:host .article-item .pre-code .vg,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .vg,
:host .article-item .highlight code .vg {
  color: #268bd2 !important; }

:host .article-item .pre-code .vi,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .vi,
:host .article-item .highlight code .vi {
  color: #268bd2 !important; }

:host .article-item .pre-code .nv,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .nv,
:host .article-item .highlight code .nv {
  color: #268bd2 !important; }

:host .article-item .pre-code .mf,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .mf,
:host .article-item .highlight code .mf {
  color: #2aa198 !important; }

:host .article-item .pre-code .m,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .m,
:host .article-item .highlight code .m {
  color: #2aa198 !important; }

:host .article-item .pre-code .mh,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .mh,
:host .article-item .highlight code .mh {
  color: #2aa198 !important; }

:host .article-item .pre-code .mi,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .mi,
:host .article-item .highlight code .mi {
  color: #2aa198 !important; }

:host .article-item .pre-code .s,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .s,
:host .article-item .highlight code .s {
  color: #2aa198 !important; }

:host .article-item .pre-code .sd,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .sd,
:host .article-item .highlight code .sd {
  color: #2aa198 !important; }

:host .article-item .pre-code .s2,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .s2,
:host .article-item .highlight code .s2 {
  color: #2aa198 !important; }

:host .article-item .pre-code .se,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .se,
:host .article-item .highlight code .se {
  color: #dc322f !important; }

:host .article-item .pre-code .si,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .si,
:host .article-item .highlight code .si {
  color: #268bd2 !important; }

:host .article-item .pre-code .sr,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .sr,
:host .article-item .highlight code .sr {
  color: #2aa198 !important; }

:host .article-item .pre-code .s1,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre .s1,
:host .article-item .highlight code .s1 {
  color: #2aa198 !important; }

:host .article-item .pre-code div .gd,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre div .gd,
:host .article-item .highlight code div .gd,
:host .article-item .pre-code div .gd .x,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre div .gd .x,
:host .article-item .highlight code div .gd .x,
:host .article-item .pre-code div .gi,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre div .gi,
:host .article-item .highlight code div .gi,
:host .article-item .pre-code div .gi .x,
:host .article-item html .gist .gist-file .gist-syntax .highlight pre div .gi .x,
:host .article-item .highlight code div .gi .x {
  display: inline-block;
  width: 100%; }

:host .article-item .highlight,
:host .article-item .gist-highlight {
  margin-bottom: 1.8em;
  background: #2B2B2B;
  overflow-y: hidden;
  overflow-x: auto; }

:host .article-item .highlight pre,
:host .article-item .gist-highlight pre {
  background: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  border: none;
  padding: 0;
  margin-bottom: 0; }

:host .article-item pre::-webkit-scrollbar,
:host .article-item .highlight::-webkit-scrollbar,
:host .article-item .gist-highlight::-webkit-scrollbar {
  height: .5em;
  background: rgba(255, 255, 255, 0.15); }

:host .article-item pre::-webkit-scrollbar-thumb:horizontal,
:host .article-item .highlight::-webkit-scrollbar-thumb:horizontal,
:host .article-item .gist-highlight::-webkit-scrollbar-thumb:horizontal {
  background: rgba(255, 255, 255, 0.2);
  -webkit-border-radius: 4px;
  border-radius: 4px; }

:host .article-item .highlight code {
  background: #000; }

:host .article-item figure.code {
  background: none;
  padding: 0;
  border: 0;
  margin-bottom: 1.5em; }

:host .article-item figure.code pre {
  margin-bottom: 0; }

:host .article-item figure.code figcaption {
  position: relative; }

:host .article-item figure.code .highlight {
  margin-bottom: 0; }

:host .article-item .download-source,
:host .article-item html .gist .gist-file .gist-meta a[href*=raw],
:host .article-item figure.code figcaption a {
  position: absolute;
  right: .8em;
  text-decoration: none;
  color: #666 !important;
  z-index: 1;
  font-size: 13px;
  text-shadow: #cbcccc 0 1px 0;
  padding-left: 3em; }

:host .article-item .download-source:hover,
:host .article-item html .gist .gist-file .gist-meta a[href*=raw]:hover,
:host .article-item figure.code figcaption a:hover {
  text-decoration: underline; }
