@import '../../../styles/common';

.article-search {
  .search-group {
    display: -webkit-flex;
    display: flex;

    .search-btn {
      border-left: none;
      border-top-left-radius: 0px;
      border-bottom-left-radius: 0px;
    }
  }
}

