@import 'common';

.blog-aside {
  section {
    .content {
      margin-left: 1rem;
    }
    img {
      max-width: 150px;
    }
  }
  @media screen and (max-width: $screen-sm) {
    .my-books-list {
      li {
        display: inline-block;
        vertical-align: top;
      }
    }
    section {
      display: inline-block;
      vertical-align: top;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}
