@import 'common';

.article-item {
  margin-bottom: 1rem;
  padding-left: 1rem;
  .action-group {
    @media (max-width: $screen-xs-min) {
      .btn {
        margin: 5px 0px;
        vertical-align: middle;
      }
    }
  }
}


