
.md-editor {
  .btn-panel {
    height: 48px;
    display: block;
    .md-btn-panel {
      margin-right: 24px;
    }
  }
  .editor-panel {
    .md-preview-panel {
      max-height: 620px;
      overflow: scroll;
    }
  }
}
