.main-header {
  &:before {
    background: url("../../../assets/img/banner-small.jpg") no-repeat top right;
    background-size: cover;
    content: '';
    display: block;
    height: 10em;
    width: 100%;
  }
}
