<div class="question">
  <p>
    感谢大家长期以来的支持和鼓励。不管你有什么问题都可以在github项目
    <a href="https://github.com/greengerong/rebirth-question/issues" target="_blank">rebirth-question</a>的issue中提出。
    博主在空闲时候将会为大家解答。同时也欢迎其他同学帮助解答。
  </p>
  <p>
    如果你有问题，请移步到github项目rebirth-question(<a href="https://github.com/greengerong/rebirth-question/issues" target="_blank">https://github.com/greengerong/rebirth-question/issues</a>)
  </p>
  <section class="last-posts">
    <h3 class="article-title">近30天问题：</h3>
    <!--move to http 拦截器-->
    <div class="loading" *ngIf="!loaded">
      <strong> Loading...</strong>
      <span></span>
    </div>
    <ul class="list-unstyled post-item">
      <li class="clearfix" *ngFor="let questionItem of questions; let questionIndex = index;">
        <div class="content">{{questionIndex + 1}}:</div>
        <a class="content" [href]="questionItem?.user?.html_url" target="blank"><img class="avatar" [src]="questionItem?.user?.avatar_url" [alt]="questionItem?.user?.login"></a>
        <a class="content" [href]="questionItem.html_url" target="_blank">{{questionItem.title}}</a>
        <ul class="content list-inline">
          <li *ngFor="let label of questionItem?.labels" class="label label-primary" [style.background]="'#'+label.color">{{label.name}}</li>
        </ul>
      </li>
    </ul>
  </section>
</div>
