$line-width : 10px;

.question {
  .last-posts {
    .post-item {
      li {
        line-height: 2;
        &>.content {
          display: inline-block;
          margin-right: $line-width;
        }
      }
    }
    .label {
      // &:not(:last-child) {
        margin-right: $line-width;
      // }
    }
    .avatar {
      width: 2rem;
    }
  }
  section{
    padding-top: 20px;
    border-top: 1px dashed #ccc;
  }
}
