//@import "bootstrap";;
a {
  color: #333;
  cursor: pointer;
  &:hover,
  &:focus {
    color: #4acaa8;
    background-color: transparent;
    text-decoration: none;
  }
}

.article-title {
  color: #4acaa8;
  background-color: transparent;
  a {
    color: #4acaa8;
    background-color: transparent;
    text-decoration: none;
  }
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
