@import "bootstrap";
a {
  color: $text-primary;
  cursor: pointer;
  &:hover,
  &:focus {
    color: $brand-primary;
    background-color: transparent;
    text-decoration: none;
  }
}

.article-title {
  color: $brand-primary;
  background-color: transparent;
  a {
    color: $brand-primary;
    background-color: transparent;
    text-decoration: none;
  }
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
