.question .last-posts .label:not(:last-child) {
  margin-right: 10px; }

.question .last-posts .question-item-order {
  width: 5px; }

.question .last-posts .question-item-avatar {
  width: 5rem; }

.question .last-posts .question-item-avatar .avatar {
  width: 100%; }

.question section {
  padding-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px dashed #ccc; }
