@import "common";
$nav-text-color: #fff;
.navbar {
  background: $brand-primary;
  color: #d1f1e9;
  border: 0px;
  .navbar-toggle {
    .icon-bar {
      background: $nav-text-color;
    }
  }
  .dropdown-menu {
    background: $brand-primary;
    padding: 0px;
  }
  .active {
    background: $nav-text-color;
    a {
      color: $brand-primary;
    }
  }
  a {
    color: $nav-text-color;
    text-decoration: none;
    &.active,
    &:focus,
    &:hover {
      color: $brand-primary;
    }
  }
  .open {
    &>a {
      color: $brand-primary;
    }
  }
}
